* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml svneol=native#text/xml
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml svneol=native#text/xml
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/DBTest.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/MEDLINETagLibBodyTagSupport.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/MEDLINETagLibTagSupport.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/README.txt svneol=native#text/plain
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/Sequence.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/accession/Accession.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/accession/AccessionAccession.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/accession/AccessionAccnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/accession/AccessionDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/accession/AccessionIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/accession/AccessionPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/accession/AccessionSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/Article.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleAbstractText.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleAffiliation.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleCopyright.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleCountry.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleDateCompleted.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleDateCompletedToNow.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleDateCreated.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleDateCreatedToNow.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleDateRevised.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleDateRevisedToNow.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleEndPage.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleIssnLinking.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleMedlinePgn.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleNlmUniqueId.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticlePmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticlePubModel.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleReferenceCount.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleStartPage.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleStatus.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleTa.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleTitle.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleType.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/ArticleVernacularTitle.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/AuthorListForArticle.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/article/HTMLFormattedArticle.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/articleDate/ArticleDate.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/articleDate/ArticleDateDay.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/articleDate/ArticleDateDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/articleDate/ArticleDateIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/articleDate/ArticleDateMonth.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/articleDate/ArticleDatePmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/articleDate/ArticleDateSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/articleDate/ArticleDateYear.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/author/Author.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/author/AuthorAffiliation.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/author/AuthorCollectiveName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/author/AuthorDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/author/AuthorForeName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/author/AuthorInitials.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/author/AuthorIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/author/AuthorLastName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/author/AuthorPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/author/AuthorSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/author/AuthorSuffix.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/authorCount/AuthorCount.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/authorCount/AuthorCountCount.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/authorCount/AuthorCountDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/authorCount/AuthorCountForeName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/authorCount/AuthorCountIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/authorCount/AuthorCountLastName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/authorCount/AuthorCountPattern.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/authorCount/AuthorCountPatternCount.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/authorCount/AuthorCountPatternForeName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/authorCount/AuthorCountPatternIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/authorCount/AuthorCountPatternLastName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/chemical/Chemical.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/chemical/ChemicalDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/chemical/ChemicalIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/chemical/ChemicalPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/chemical/ChemicalRegistryNumber.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/chemical/ChemicalSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/chemical/ChemicalSubstanceName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/citationSubset/CitationSubset.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/citationSubset/CitationSubsetDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/citationSubset/CitationSubsetIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/citationSubset/CitationSubsetLabel.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/citationSubset/CitationSubsetPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/citationSubset/CitationSubsetSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/clusterDocument/ClusterDocument.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/clusterDocument/ClusterDocumentCid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/clusterDocument/ClusterDocumentDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/clusterDocument/ClusterDocumentIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/clusterDocument/ClusterDocumentPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/commentsCorrections/CommentsCorrections.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/commentsCorrections/CommentsCorrectionsDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/commentsCorrections/CommentsCorrectionsIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/commentsCorrections/CommentsCorrectionsNote.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/commentsCorrections/CommentsCorrectionsPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/commentsCorrections/CommentsCorrectionsRefPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/commentsCorrections/CommentsCorrectionsRefType.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/commentsCorrections/CommentsCorrectionsSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/commentsCorrections/CommentsCorrectionsSource.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/dataBank/DataBank.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/dataBank/DataBankDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/dataBank/DataBankIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/dataBank/DataBankName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/dataBank/DataBankPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/dataBank/DataBankSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/documentCluster/DocumentCluster.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/documentCluster/DocumentClusterCid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/documentCluster/DocumentClusterDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/documentCluster/DocumentClusterForeName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/documentCluster/DocumentClusterIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/documentCluster/DocumentClusterLastName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/elocation/Elocation.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/elocation/ElocationDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/elocation/ElocationEid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/elocation/ElocationIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/elocation/ElocationPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/elocation/ElocationSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/geneSymbol/GeneSymbol.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/geneSymbol/GeneSymbolDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/geneSymbol/GeneSymbolIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/geneSymbol/GeneSymbolPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/geneSymbol/GeneSymbolSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/geneSymbol/GeneSymbolSymbol.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/generalNote/GeneralNote.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/generalNote/GeneralNoteDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/generalNote/GeneralNoteIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/generalNote/GeneralNoteNote.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/generalNote/GeneralNotePmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/generalNote/GeneralNoteSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/grant/Grant.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/grant/GrantAcronym.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/grant/GrantAgency.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/grant/GrantCountry.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/grant/GrantDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/grant/GrantGid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/grant/GrantIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/grant/GrantPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/grant/GrantSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/investigator/Investigator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/investigator/InvestigatorAffiliation.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/investigator/InvestigatorDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/investigator/InvestigatorForeName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/investigator/InvestigatorInitials.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/investigator/InvestigatorIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/investigator/InvestigatorLastName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/investigator/InvestigatorPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/investigator/InvestigatorSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/investigator/InvestigatorSuffix.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/journal/Journal.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/journal/JournalDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/journal/JournalIsoAbbreviation.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/journal/JournalIssn.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/journal/JournalIssue.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/journal/JournalIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/journal/JournalMedlineDate.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/journal/JournalPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/journal/JournalPubDay.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/journal/JournalPubMonth.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/journal/JournalPubSeason.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/journal/JournalPubYear.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/journal/JournalTitle.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/journal/JournalVolume.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/keyword/Keyword.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/keyword/KeywordDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/keyword/KeywordIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/keyword/KeywordKeyword.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/keyword/KeywordMajor.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/keyword/KeywordPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/keyword/KeywordSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/language/Language.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/language/LanguageDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/language/LanguageIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/language/LanguageLanguage.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/language/LanguagePmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/language/LanguageSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/meshHeading/MeshHeading.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/meshHeading/MeshHeadingDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/meshHeading/MeshHeadingDescriptorName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/meshHeading/MeshHeadingIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/meshHeading/MeshHeadingMajor.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/meshHeading/MeshHeadingPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/meshHeading/MeshHeadingSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/meshQualifier/MeshQualifier.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/meshQualifier/MeshQualifierDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/meshQualifier/MeshQualifierIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/meshQualifier/MeshQualifierMajor.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/meshQualifier/MeshQualifierPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/meshQualifier/MeshQualifierQnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/meshQualifier/MeshQualifierQualifierName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/meshQualifier/MeshQualifierSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/otherAbstract/OtherAbstract.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/otherAbstract/OtherAbstractAbstractText.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/otherAbstract/OtherAbstractCopyright.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/otherAbstract/OtherAbstractDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/otherAbstract/OtherAbstractIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/otherAbstract/OtherAbstractPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/otherAbstract/OtherAbstractSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/otherAbstract/OtherAbstractType.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/otherId/OtherId.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/otherId/OtherIdDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/otherId/OtherIdIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/otherId/OtherIdOtherId.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/otherId/OtherIdPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/otherId/OtherIdSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/otherId/OtherIdSource.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/personalNameSubject/PersonalNameSubject.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/personalNameSubject/PersonalNameSubjectDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/personalNameSubject/PersonalNameSubjectForeName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/personalNameSubject/PersonalNameSubjectInitials.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/personalNameSubject/PersonalNameSubjectIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/personalNameSubject/PersonalNameSubjectLastName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/personalNameSubject/PersonalNameSubjectPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/personalNameSubject/PersonalNameSubjectSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/personalNameSubject/PersonalNameSubjectSuffix.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/publicationType/PublicationType.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/publicationType/PublicationTypeDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/publicationType/PublicationTypeIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/publicationType/PublicationTypeLabel.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/publicationType/PublicationTypePmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/publicationType/PublicationTypeSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/spaceflightMission/SpaceflightMission.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/spaceflightMission/SpaceflightMissionDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/spaceflightMission/SpaceflightMissionIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/spaceflightMission/SpaceflightMissionMission.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/spaceflightMission/SpaceflightMissionPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/taglib/MEDLINETagLib/spaceflightMission/SpaceflightMissionSeqnum.java svneol=native#text/x-java-source
src/main/resources/META-INF/taglib.tld -text svneol=unset#text/xml
src/non-packaged-resources/MEDLINETagLib.clay -text svneol=unset#text/xml
src/non-packaged-resources/MEDLINETagLib.sql svneol=native#text/plain
src/non-packaged-resources/functions.tld -text svneol=unset#text/xml
src/non-packaged-resources/tags.tld -text svneol=unset#text/xml
src/test/java/edu/uiowa/icts/taglib/MEDLINETagLib/README.txt svneol=native#text/plain
src/test/resources/README.txt svneol=native#text/plain
target/MEDLINETagLib-0.0.1-SNAPSHOT.jar -text svneol=unset#aplication/java-archive
