* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml svneol=native#text/xml
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml svneol=native#text/xml
src/main/java/META-INF/MANIFEST.MF svneol=native#text/plain
src/main/java/edu/uiowa/medline/DBTest.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/MEDLINETagLibBodyTagSupport.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/MEDLINETagLibTagSupport.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/Sequence.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/accession/Accession.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/accession/AccessionAccession.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/accession/AccessionAccnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/accession/AccessionDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/accession/AccessionIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/accession/AccessionPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/accession/AccessionSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/Article.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleAbstractText.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleAffiliation.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleCopyright.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleCountry.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleDateCompleted.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleDateCompletedToNow.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleDateCreated.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleDateCreatedToNow.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleDateRevised.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleDateRevisedToNow.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleEndPage.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleIssnLinking.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleMedlinePgn.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleNlmUniqueId.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticlePmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticlePubModel.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleReferenceCount.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleStartPage.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleStatus.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleTa.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleTitle.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleType.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/ArticleVernacularTitle.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/AuthorListForArticle.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/article/HTMLFormattedArticle.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/articleDate/ArticleDate.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/articleDate/ArticleDateDay.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/articleDate/ArticleDateDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/articleDate/ArticleDateIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/articleDate/ArticleDateMonth.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/articleDate/ArticleDatePmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/articleDate/ArticleDateSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/articleDate/ArticleDateYear.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/author/Author.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/author/AuthorAffiliation.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/author/AuthorCollectiveName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/author/AuthorDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/author/AuthorForeName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/author/AuthorInitials.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/author/AuthorIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/author/AuthorLastName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/author/AuthorPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/author/AuthorSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/author/AuthorSuffix.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/authorCount/AuthorCount.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/authorCount/AuthorCountCount.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/authorCount/AuthorCountDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/authorCount/AuthorCountForeName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/authorCount/AuthorCountIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/authorCount/AuthorCountLastName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/authorCount/AuthorCountPattern.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/authorCount/AuthorCountPatternCount.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/authorCount/AuthorCountPatternForeName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/authorCount/AuthorCountPatternIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/authorCount/AuthorCountPatternLastName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/chemical/Chemical.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/chemical/ChemicalDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/chemical/ChemicalIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/chemical/ChemicalPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/chemical/ChemicalRegistryNumber.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/chemical/ChemicalSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/chemical/ChemicalSubstanceName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/citationSubset/CitationSubset.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/citationSubset/CitationSubsetDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/citationSubset/CitationSubsetIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/citationSubset/CitationSubsetLabel.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/citationSubset/CitationSubsetPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/citationSubset/CitationSubsetSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/clusterDocument/ClusterDocument.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/clusterDocument/ClusterDocumentCid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/clusterDocument/ClusterDocumentDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/clusterDocument/ClusterDocumentIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/clusterDocument/ClusterDocumentPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/commentsCorrections/CommentsCorrections.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/commentsCorrections/CommentsCorrectionsDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/commentsCorrections/CommentsCorrectionsIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/commentsCorrections/CommentsCorrectionsNote.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/commentsCorrections/CommentsCorrectionsPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/commentsCorrections/CommentsCorrectionsRefPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/commentsCorrections/CommentsCorrectionsRefType.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/commentsCorrections/CommentsCorrectionsSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/commentsCorrections/CommentsCorrectionsSource.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/dataBank/DataBank.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/dataBank/DataBankDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/dataBank/DataBankIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/dataBank/DataBankName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/dataBank/DataBankPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/dataBank/DataBankSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/documentCluster/DocumentCluster.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/documentCluster/DocumentClusterCid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/documentCluster/DocumentClusterDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/documentCluster/DocumentClusterForeName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/documentCluster/DocumentClusterIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/documentCluster/DocumentClusterLastName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/elocation/Elocation.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/elocation/ElocationDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/elocation/ElocationEid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/elocation/ElocationIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/elocation/ElocationPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/elocation/ElocationSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/geneSymbol/GeneSymbol.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/geneSymbol/GeneSymbolDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/geneSymbol/GeneSymbolIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/geneSymbol/GeneSymbolPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/geneSymbol/GeneSymbolSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/geneSymbol/GeneSymbolSymbol.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/generalNote/GeneralNote.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/generalNote/GeneralNoteDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/generalNote/GeneralNoteIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/generalNote/GeneralNoteNote.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/generalNote/GeneralNotePmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/generalNote/GeneralNoteSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/grant/Grant.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/grant/GrantAcronym.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/grant/GrantAgency.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/grant/GrantCountry.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/grant/GrantDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/grant/GrantGid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/grant/GrantIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/grant/GrantPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/grant/GrantSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/investigator/Investigator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/investigator/InvestigatorAffiliation.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/investigator/InvestigatorDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/investigator/InvestigatorForeName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/investigator/InvestigatorInitials.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/investigator/InvestigatorIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/investigator/InvestigatorLastName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/investigator/InvestigatorPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/investigator/InvestigatorSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/investigator/InvestigatorSuffix.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/journal/Journal.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/journal/JournalDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/journal/JournalIsoAbbreviation.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/journal/JournalIssn.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/journal/JournalIssue.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/journal/JournalIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/journal/JournalMedlineDate.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/journal/JournalPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/journal/JournalPubDay.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/journal/JournalPubMonth.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/journal/JournalPubSeason.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/journal/JournalPubYear.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/journal/JournalTitle.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/journal/JournalVolume.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/keyword/Keyword.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/keyword/KeywordDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/keyword/KeywordIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/keyword/KeywordKeyword.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/keyword/KeywordMajor.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/keyword/KeywordPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/keyword/KeywordSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/language/Language.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/language/LanguageDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/language/LanguageIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/language/LanguageLanguage.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/language/LanguagePmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/language/LanguageSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/meshHeading/MeshHeading.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/meshHeading/MeshHeadingDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/meshHeading/MeshHeadingDescriptorName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/meshHeading/MeshHeadingIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/meshHeading/MeshHeadingMajor.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/meshHeading/MeshHeadingPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/meshHeading/MeshHeadingSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/meshQualifier/MeshQualifier.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/meshQualifier/MeshQualifierDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/meshQualifier/MeshQualifierIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/meshQualifier/MeshQualifierMajor.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/meshQualifier/MeshQualifierPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/meshQualifier/MeshQualifierQnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/meshQualifier/MeshQualifierQualifierName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/meshQualifier/MeshQualifierSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/otherAbstract/OtherAbstract.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/otherAbstract/OtherAbstractAbstractText.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/otherAbstract/OtherAbstractCopyright.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/otherAbstract/OtherAbstractDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/otherAbstract/OtherAbstractIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/otherAbstract/OtherAbstractPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/otherAbstract/OtherAbstractSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/otherAbstract/OtherAbstractType.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/otherId/OtherId.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/otherId/OtherIdDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/otherId/OtherIdIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/otherId/OtherIdOtherId.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/otherId/OtherIdPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/otherId/OtherIdSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/otherId/OtherIdSource.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/personalNameSubject/PersonalNameSubject.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/personalNameSubject/PersonalNameSubjectDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/personalNameSubject/PersonalNameSubjectForeName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/personalNameSubject/PersonalNameSubjectInitials.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/personalNameSubject/PersonalNameSubjectIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/personalNameSubject/PersonalNameSubjectLastName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/personalNameSubject/PersonalNameSubjectPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/personalNameSubject/PersonalNameSubjectSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/personalNameSubject/PersonalNameSubjectSuffix.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/publicationType/PublicationType.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/publicationType/PublicationTypeDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/publicationType/PublicationTypeIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/publicationType/PublicationTypeLabel.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/publicationType/PublicationTypePmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/publicationType/PublicationTypeSeqnum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/spaceflightMission/SpaceflightMission.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/spaceflightMission/SpaceflightMissionDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/spaceflightMission/SpaceflightMissionIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/spaceflightMission/SpaceflightMissionMission.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/spaceflightMission/SpaceflightMissionPmid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/medline/spaceflightMission/SpaceflightMissionSeqnum.java svneol=native#text/x-java-source
src/main/resources/META-INF/taglib.tld -text svneol=unset#text/xml
src/non-packaged-resources/MEDLINETagLib.clay -text svneol=unset#text/xml
src/non-packaged-resources/MEDLINETagLib.sql svneol=native#text/plain
src/non-packaged-resources/functions.tld -text svneol=unset#text/xml
src/non-packaged-resources/tags.tld -text svneol=unset#text/xml
src/test/resources/README.txt svneol=native#text/plain
